<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" >
  <div class ="my-3 border-bottom">
    <div>
      <h4>회원 가입</h4>

    </div>
  </div>
  <!-- field의 *와 중괄호만 모두 제거 하였다. -->
  <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <div class="mb-3">
      <label th:for="username" class="form-label">사용자 ID</label>
      <input type="text" th:field="*{username}" class="form-control"id="username">

    </div>
    <div class = "mb-3">
      <label th:for="password1" class="form-label">비밀번호</label>
      <input type="password" th:field="*{password1}" class="form-control" id="password1">
    </div>

    <div class = "mb-3">
      <label th:for="password2" class="form-label">비밀번호 확인</label>
      <input type="password" th:field="*{password2}" class="form-control" id="password2">
    </div>

    <div class = "mb-3">
      <label th:for="email" class="form-label">이메일</label>
      <input type="email" th:field="*{email}" class="form-control" id="email">
    </div>

    <button type = "submit" class="btn btn-primary"> 회원가입</button>
  </form>
</div>
</html>